.container{
    height: 753px;
    width: 1536px;
    background-image: linear-gradient(to top, #F8F2DA 0%, #F9C57A 100%);
    overflow: hidden;
}
.c-left{
    height: 100%;
    width: 35%;
    background-image: url("../imgs/从前慢.jpeg");
    background-size: 100% 99.9%;
    z-index: 999;
}
.c-right{
    width: 60%;
    text-align: center;
    position: relative;
    top: 90px;
}
h2,h3,p{
    color: rgb(68, 25, 17);
    margin: 15px;
}