.container{
    height: 753px;
    background-image: linear-gradient(45deg, #edcbfd 0%, #fab1ab 100%);
}
.f{
    height: 90%;
    width: 90%;
    background: rgba(255, 255, 255, 0.452);
    position: absolute;
    top: 5%;
    left: 5%;
}
ul li p{
    font-size: 25px;
    color: rgb(8, 47, 78);
}