.container{
    height: 753px;
    width: 1536px;
    background-image: linear-gradient(to top, #AB99B1 0%, #393F6F 100%);
    overflow: hidden;
}
.c-left{
    height: 100%;
    width: 40%;
    background-image: url("../imgs/夏天的太阳.jpeg");
    background-size: 100% 99.9%;
    z-index: 999;
}
.c-right{
    width: 60%;
    text-align: center;
    position: relative;
    top: 200px;
}
h2,h3,p{
    color: rgb(255, 255, 255);
    margin: 20px;
}